body {
  background-color: #2e2d2f;
  margin: 0;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.text {
    text-align: center;
    width: 66vw;
    color: #dfdbe6;
    margin-top: 0;
}

.boxbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background-color: #540759;
}

.arrowbox {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 95%;
  background-color: #540759;
  margin: 3vh;
  min-height: 0;
}

.arrow {
  height: 75%;
  width: 75%;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.button {
  background-color: #cac6d0;
  color: #2e2d2f;
  border-radius: 1vh;
  width: 30vw;
  border: none;
  cursor: pointer;
  min-width: 100px;
  height: 7vh;
}